html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(#b7094c, #0091ad);
}

.contact-logo {
    height: 50px;
    filter: brightness(0);
}

a {
    text-decoration: none;
}

a:hover img {
    filter: brightness(100);
}

table {
    width: 100%;
}

col {
    width: 20%;
}

th,td {
    text-align: left;
}

td:hover {
    background: rgba(255, 255, 255, 0.233);
}

.skills ul {
    float: left;
    list-style-type: none;
}

hr {
    clear: both;
}
