html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(#b7094c, #0091ad);
}

.contact-logo {
    height: 50px;
    filter: brightness(0);
}

a {
    text-decoration: none;
}

a:hover img {
    filter: brightness(100);
}

table {
    width: 100%;
}

col {
    width: 20%;
}

.skills li,ul {
    text-align: left;
    padding: 4px;
}

.skills li:hover {
    background: rgba(255, 255, 255, 0.233);
    border-radius: 10px;
}

.skills ul {
    float: left;
    list-style-type: none;
}

hr {
    clear: both;
}
i {
    margin-left: 6px;
}

.projects img {
    height: 200px;
    width: 200px;
    padding-top: 10px;
}

#space-cruise {
    background-color: rgba(255, 255, 255, 0.178);
    background;
    height: 300px;
    width: 260px;
    text-align: center;
    border: 2px solid black;
}
