html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-image: linear-gradient(#b7094c, #0091ad);
}

.contact-logo {
    height: 50px;
    filter: brightness(0);
}

a {
    text-decoration: none;
}

a:hover img {
    filter: brightness(100);
}

table {
    width: 100%;
}

col {
    width: 20%;
}

.skills li,ul {
    text-align: left;
    padding: 4px;
}

.skills li:hover {
    background: rgba(255, 255, 255, 0.233);
    border-radius: 10px;
}

.skills ul {
    float: left;
    list-style-type: none;
}

hr {
    clear: both;
}
i {
    margin-left: 6px;
}

.projects img {
    width: 200px;
    padding-top: 20px;
}

.projects {
    background-color: rgba(255, 255, 255, 0.178);
    height: 300px;
    width: 260px;
    text-align: center;
    border: 2px solid black;
    margin: 12px;
    float: left;
}

.about {
    height: 50%;
    width: 50%;
    left: 25%;
    background: rgba(144, 238, 144, 0.178);
}

.skills {
    height: 50%;
    width: 65%;
    background: rgba(144, 238, 144, 0.178);

}

.about:hover, .skills:hover {
    background-color: #eccaff38;
    border-radius: 25px;
}

.education {
    height: 33%;
    width: 33%;
    background: rgba(144, 238, 144, 0.178);
}

#project-list {
    height: 50%;
    width: fit-content;
    background: rgba(144, 238, 144, 0.178);
}